# Ignore Dataset hdf5 file
/Data/train_test_data.h5

# Ignore Train Test Data
/Data/train
/Data/test

# Ignore idea & python notebook util files
.idea/
.ipynb_checkpoints/
idea/
ipynb_checkpoints/


*.pyc
